body {
  max-width: 400px;
}

#message-container {
  border: 1px solid;
  min-height: 100px;
  background-color: #fff;
}

#message-container div:nth-child(even) {
  background-color: #ccc;
}

#form {
  display: flex;
  flex-direction: column;
}

.container {
  margin: 16px 0 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container label {
  width: 75px;
}
.container input {
  flex: 1;
  margin: 0 8px;
}
.container button {
  width: 75px;
}
